@charset "utf-8";

#wrap{
    width: 100%;
    position: relative;
}
header{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
header ul{
    display: flex;
}
header>ul>li{
    padding: 0 20px;
}

#sound{
    width: 100%;
    /* background-color: aqua; */
    height: 900px;
    position: relative;
    background-image: url(../img/main/test.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
   
}
#control{
    width: 15%;
    height: 250px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
#control div{
    height: 40%;
}
#control img{
    width: 90%;
    height: 100%;
}
#next{
    transform: scaleX(-1);

}

#sound_box{
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: -12.5%;
    display: flex;
    justify-content: space-between;
}
#sound_text{
    width: 60%;
    background-color: rgba(250, 250, 250, 0.2);
    display: flex;
}
#sound_text>div{
    width: 85%;
    background-color: rgba(18, 18, 18,0.7);
}
#sound_text p{
    color: rgba(255, 255, 255,0.87);
    width: 100%;
    text-align: center;
}
#sound_text>div>p:first-of-type{
    font-size: 50px;
}
#sound_text>div>p:nth-of-type(2){
    font-size: 30px;
}

#sound_index{
    width: 15%;
    /* background-color: bisque; */
}
#sound_index>div{
    height: 50%;
    text-align: right;
    font-size: 70px;
    color: rgba(255, 255, 255,0.87);

}
#full{
    margin-top: 250px;
    width: 100%;
    height: 800px;
    display: flex;
    background-color: #121212;
}
#full>div{
    background-color: chartreuse;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
    filter: grayscale(50%);
    transition: 0.5s;
    
}
#full>div:nth-of-type(1){
    background-image: url(../img/main/cover.jpg);

}
#full>div:nth-of-type(2){
    background-image: url(../img/main/cover1.jpg);

}
#full>div:nth-of-type(3){
    background-image: url(../img/main/cover2.jpg);

}
#container{
    margin-top: 50px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;

}
#container_m{
    height: 15%;
    display: flex;


}
#container_m>div{
    width: 25%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgba(250, 250, 250, 0.2);

}
#container_m p{
    width: 100%;
    text-align: center;
}

#container_c{
    height: 85%;
    /* background-color: aqua; */
    position: relative;
}
.fadein{
    width: 1300px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
.fadein>div{
    height: 100%;
}
.fadein>div:nth-of-type(1){
    width: 70%;
    background-color: pink;
}
.fadein>div:nth-of-type(2){
    background-color: purple;
    width: 30%;
}
.fadein:not(:first-of-type){
    display: none;
}

#story{
    width: 100%;
    height: 1000px;
    text-align: center;
}
#story_con{
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#story_con>div:first-of-type{
    width: 39.5%;
}
#story_con>div:nth-of-type(2){
    width: 59.5%;
}
.con_one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.con_two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}
#story_con>div>div{
    border: 1px solid #fff;
}
.con_one>.first{
    width: 100%;
    height: 55%;
}
.con_one>.second{
    height: 30%;
    width: 55%;
}
.con_two>.first{
    width: 100%;
    height: 35%;
}
.con_two>.second{
    width: 60%;
    height: 50%;

}

#bgbox{
    width: 100%;
    height: 1000px;
    background-color: #121212;
    display: flex;
    /* background-image: url(../img/main/Visiwig-Chevrons.svg); */
    /* background-attachment: fixed; */
    /* opacity: 0.5; */
    position: relative;
}


footer{
    width: 100%;
    height: 320px;
    background-color: #121212;
}
footer>div{
    width: 1300px;
    height: 100%;
    background-color: grey;
    margin: 0 auto;
}
svg path{
    opacity: 0.4;
}
svg{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
}
