@charset "utf-8";
@media screen and (max-width:750px){
    #mainmenu>li:nth-of-type(4) #subC{
        color: red;
        /* font-weight: bold; */
    }
    #tap{
        /* position: absolute; */
        margin-top: 80px;
        width: 100%;
        background-color: #121212;
    }
    #tap ul{
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    #tap li{
        width: 30%;
        text-align: center;
        padding: 15px 0;
    }
    #tap li a{
        color: #fff;
    }
    #tap li:nth-of-type(1) a{
        color: red; 
        font-weight: bold;
    }
    /* #tap li:nth-of-type(2){
        border-left: 1px solid red;
        border-right: 1px solid red;
    } */
    /* #subcolor{
        color: red !important;
    } */
    #slider{
        width: 100%;
        height: 35vh;
        background-image: url(../img/sub/theme3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* display: flex; */
        /* align-items: center; */
    }
    #slider>div{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #slider h2{
        font-size: 4.5vw;
        padding: 10px 0px;
    }
    #slider p{
        font-size: 3vw;
        padding-bottom: 20px;
    }
    #content{
        width: 100%;
        /* height: 1200px; */
        margin: 0 auto;
        /* position: relative; */
        /* top: -100px; */
        /* background-color: #000; */
        overflow: hidden;
        /* display: none;/ */
    
    }
    #content>div{
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content_img{
        width: 80vw;
        height: 80vw;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #content1{
        background-image: url(../img/sub/content1.jpg);
    }
    #content2{
        background-image: url(../img/sub/content2.jpg);
        
    }
    #content3{
        background-image: url(../img/sub/content3.jpg);
    }
    #content4{
        background-image: url(../img/sub/content4.jpg);
    }
    #content5{
        background-image: url(../img/sub/content5.jpg);
    }
    #content6{
        background-image: url(../img/sub/content6.jpg);
    }
    .content_text{
        width: 80vw;
        height: 30%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around  ;
        order: 2;
    
    }
    .content_text p{
        font-size: 3vw;
    }
    .content_text h3{
        font-size: 3.5vw;
    }
    .content_text a{
        width: 22vw;
        font-size: 3vw;
        color: rgba(255, 255, 255,0.8);
        position: relative;
    }
    .content_text a::after{
        content: '';
        width: 3.5vw;
        height: 3.5vw;
        overflow: hidden;
        /* background-color: #fff; */
        /* color: #121212; */
        position: absolute;
        top: 0;
        left: 0;
        left: 100%;
        opacity: 0;
        transition: 500ms;
        background-image: url(../img/sub/go.png);
        /* background-position: top; */
        background-repeat: no-repeat;
        background-size: contain;
        /* opacity: 0; */
    }
    .content_text a:hover::after{
        opacity: 0.8;
        /* height: 100%; */
    }
    .content_left{
        /* margin-left: -650px; */
        opacity: 0;
    }
    .content_right{
        /* margin-left: 650px; */
        opacity: 0;
    
    }
    #auto{
        margin-top: 50px;
        width: 100%;
        height: 100vw;
        overflow: hidden;
        
    }
    #auto ul{
        width: 2400px;
        /* display: flex; */
    }
    #auto ul li{
        float: left;
        width: 100vw;
        height: 100vw;
        background-image: url(../img/sub/record.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        }
    #auto ul li img{
        width: 70%;
        border-radius: 50%;
        /* height: 100%; */
    }
}
@media screen and (min-width:751px) and (max-width:1299px){
    #mainmenu>li:nth-of-type(4) #subC{
        color: red;
        /* font-weight: bold; */
    }
    #tap{
        /* position: absolute; */
        margin-top: 80px;
        width: 100%;
        background-color: #121212;
    }
    #tap ul{
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    #tap li{
        width: 30%;
        text-align: center;
        padding: 15px 0;
    }
    #tap li a{
        color: #fff;
    }
    #tap li:nth-of-type(1) a{
        color: red; 
        font-weight: bold;
    }
    /* #tap li:nth-of-type(2){
        border-left: 1px solid red;
        border-right: 1px solid red;
    } */
    /* #subcolor{
        color: red !important;
    } */
    #slider{
        width: 100%;
        height: 35vh;
        background-image: url(../img/sub/theme3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* display: flex; */
        /* align-items: center; */
    }
    #slider>div{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #slider h2{
        font-size: 3.5vw;
        padding: 10px 0px;
    }
    #slider p{
        font-size: 2vw;
        padding-bottom: 20px;
    }
    #content{
        width: 100%;
        /* height: 1200px; */
        margin: 0 auto;
        position: relative;
        top: -100px;
        /* background-color: #000; */
        overflow: hidden;
    
    }
    #content>div{
        width: 100%;
        /* height: 500px; */
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
    }
    .content_img{
        width: 50%;
        height: 50vw;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #content1{
        background-image: url(../img/sub/content1.jpg);
    }
    #content2{
        background-image: url(../img/sub/content2.jpg);
        
    }
    #content3{
        background-image: url(../img/sub/content3.jpg);
    }
    #content4{
        background-image: url(../img/sub/content4.jpg);
    }
    #content5{
        background-image: url(../img/sub/content5.jpg);
    }
    #content6{
        background-image: url(../img/sub/content6.jpg);
    }
    .content_text{
        width: 45%;
        height: 30vw;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around  ;
        /* order: 2; */
    
    }
     .content_right>.content_text{
        padding-left: 4vw;
        
     }
    .content_text p{
        font-size:1.5vw;
    }
    .content_text h3{
        font-size: 2vw;
    }
    .content_text a{
        width: 11.5vw;
        font-size: 1.5vw;
        color: rgba(255, 255, 255,0.8);
        position: relative;
    }
    .content_text a::after{
        content: '';
        width: 2.4vw;
        height: 2.4vw;
        overflow: hidden;
        /* background-color: #fff; */
        /* color: #121212; */
        position: absolute;
        top: 0;
        left: 100%;
        opacity: 0;
        transition: 500ms;
        background-image: url(../img/sub/go.png);
        /* background-position: top; */
        background-repeat: no-repeat;
        background-size: contain;
        /* opacity: 0; */
    }
    .content_text a:hover::after{
        opacity: 0.8;
        /* height: 100%; */
    }
    .content_left{
        /* margin-left: -650px; */
        opacity: 0;
    }
    .content_right{
        /* margin-left: 650px; */
        opacity: 0;
    
    }
    #auto{
        margin-top: 50px;
        width: 100%;
        height: 50vw;
        overflow: hidden;
        position: relative;

    }
    #auto ul li{
        float: left;
        width: 50vw;
        height: 50vw;
        background-image: url(../img/sub/record.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        }
    #auto ul li img{
        width: 70%;
        border-radius: 50%;
        /* height: 100%; */
    }
}
@media screen and (min-width:1300px){
    #mainmenu>li:nth-of-type(4) #subC{
        color: red;
        /* font-weight: bold; */
    }
    #tap{
        /* position: absolute; */
        margin-top: 120px;
        width: 100%;
        background-color: #121212;
    }
    #tap ul{
        width: 1300px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    #tap li{
        width: 20%;
        text-align: center;
        padding: 15px 0;
    }
    #tap li a{
        color: #fff;
    }
    #tap li:nth-of-type(1) a{
        color: red; 
        font-weight: bold;
    }
    /* #tap li:nth-of-type(2){
        border-left: 1px solid red;
        border-right: 1px solid red;
    } */
    /* #subcolor{
        color: red !important;
    } */
    #slider{
        width: 100%;
        height: 50vh;
        background-image: url(../img/sub/theme3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* display: flex; */
        /* align-items: center; */
    }
    #slider>div{
        width: 1300px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #slider h2{
        font-size: 2vw;
        padding: 10px 0px;
    }
    #slider p{
        font-size: 1vw;
        padding-bottom: 20px;
    }
    #content{
        width: 1300px;
        /* height: 1200px; */
        margin: 0 auto;
        position: relative;
        top: -100px;
        /* background-color: #000; */
        overflow: hidden;
        /* display: none; */
    
    }
    #mv{
        background-color: #fff;
        width: 1300px;
        height: 1400px;
        margin: 0 auto;
        position: relative;
        top: -100px;
        right: -100vw;
        /* background-color: #000; */
        overflow: hidden;
        display: none;
        /* display: flex; */
        flex-direction: column;
        justify-content: space-around;
    }
    #mv>div{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around;
     
    }
    .mvbox{
        width: 30%;
        height: 100%;
        background-color: aqua;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        position: relative;
        cursor: pointer;
    }
    .mvbox>p{
        text-align: center;
        width: 100%;
        padding: 8px 0;
        background-color: rgba(255, 255, 255,0.8);
    }
    .mvbox>div{
        width: 25%;
        height: 25%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* background-color: #000; */
        background-image: url(../img/sub/go.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .m1{
        background-image: url(../img/sub/v1.jpg);
    }
    .m2{
        background-image: url(../img/sub/v2.jpg);
    }
    .m3{
        background-image: url(../img/sub/v3.jpg);
    }
    .m4{
        background-image: url(../img/sub/v4.jpg);
    }
    .m5{
        background-image: url(../img/sub/v5.jpg);
    }
    .m6{
        background-image: url(../img/sub/v6.jpg);
    }
    .m7{
        background-image: url(../img/sub/v7.jpg);
    }
    .m8{
        background-image: url(../img/sub/v8.jpg);
    }
    .m9{
        background-image: url(../img/sub/v9.jpg);
    }
    #play{
        width: 100vw;
        height: 100vh;
        background-color:rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    #play iframe{
        width: 50vw;
        height: 50vh;
    }
    #play span{
        /* align-self: flex-start; */
        font-size: 30px;
        position: absolute;
        top: 20vh;
        left: 73vw;
        cursor: pointer;
    }
    #content>div{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: space-between;
    }
    .content_img{
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #content1{
        background-image: url(../img/sub/content1.jpg);
    }
    #content2{
        background-image: url(../img/sub/content2.jpg);
    }
    #content3{
        background-image: url(../img/sub/content3.jpg);
    }
    #content4{
        background-image: url(../img/sub/content4.jpg);
    }
    #content5{
        background-image: url(../img/sub/content5.jpg);
    }
    #content6{
        background-image: url(../img/sub/content6.jpg);
    }
    .content_text{
        width: 45%;
        height: 60%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around  ;
    
    }
    .content_text p{
        font-size: 1vw;
    }
    .content_text h3{
        font-size: 1.5vw;
    }
    .content_text a{
        width: 7.4vw;
        font-size: 1vw;
        color: rgba(255, 255, 255,0.8);
        position: relative;
    }
    .content_text a::after{
        content: '';
        width: 1.4vw;
        height: 1.4vw;
        overflow: hidden;
        /* background-color: #fff; */
        /* color: #121212; */
        position: absolute;
        top: 0;
        left: 0;
        left: 100%;
        opacity: 0;
        transition: 500ms;
        background-image: url(../img/sub/go.png);
        /* background-position: top; */
        background-repeat: no-repeat;
        background-size: contain;
        /* opacity: 0; */
    }
    .content_text a:hover::after{
        opacity: 0.8;
        /* height: 100%; */
    }
    .content_left{
        /* margin-left: -650px; */
        opacity: 0;
    }
    .content_right{
        /* margin-left: 650px; */
        opacity: 0;
    
    }
    #auto{
        margin-top: 50px;
        width: 100%;
        height: 25vw;

        overflow: hidden;
        
    }
    #auto ul{
        width: 2400px;
        /* display: flex; */
    }
    #auto ul li{
        float: left;
        width: 25vw;
        height: 25vw;
        /* margin:0px 40px; */
        background-image: url(../img/sub/record.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        }
    #auto ul li img{
        width: 70%;
        border-radius: 50%;
        /* height: 100%; */
    }
    
    
}
