@media screen and (max-width: 750px) {
  #mainmenu > li:nth-of-type(4) #subC {
    color: red;
  }
  #tap {
    margin-top: 80px;
    width: 100%;
    background-color: #121212;
  }
  #tap ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  #tap li {
    width: 30%;
    text-align: center;
    padding: 15px 0;
  }
  #tap li a {
    display: inline-block;
    width: 100%;
    color: #fff;
  }
  #tap li:nth-of-type(1) a {
    color: red;
    font-weight: bold;
  }
  #slider {
    width: 100%;
    height: 35vh;
    background-image: url(../img/sub/theme3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #slider > div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #slider h2 {
    font-size: 4.5vw;
    padding: 10px 0px;
  }
  #slider p {
    font-size: 3vw;
    padding-bottom: 20px;
  }
  #mv {
    width: 100%;
    height: 4200px;
    margin: 0 auto;
    position: relative;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #mv > p {
    font-size: 18px;
    font-weight: bold;
  }
  #mv > div {
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .mvbox {
    width: 90vw;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
  }
  .mvbox > p {
    text-align: center;
    width: 100%;
    font-size: 3vw;
  }
  .mvbox > div {
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .m1 {
    background-image: url(../img/sub/v1.jpg);
  }
  .m2 {
    background-image: url(../img/sub/v2.jpg);
  }
  .m3 {
    background-image: url(../img/sub/v3.jpg);
  }
  .m4 {
    background-image: url(../img/sub/v4.jpg);
  }
  .m5 {
    background-image: url(../img/sub/v5.jpg);
  }
  .m6 {
    background-image: url(../img/sub/v6.jpg);
  }
  .m7 {
    background-image: url(../img/sub/v7.jpg);
  }
  .m8 {
    background-image: url(../img/sub/v8.jpg);
  }
  .m9 {
    background-image: url(../img/sub/v9.jpg);
  }
  .m10 {
    background-image: url(../img/sub/v10.jpg);
  }
  .m11 {
    background-image: url(../img/sub/v11.jpg);
  }
  .m12 {
    background-image: url(../img/sub/v12.jpg);
  }
  #playList {
    width: 100%;
    height: 2100px;
    margin: 0 auto;
    position: relative;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #playList > div {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #playList .pb {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #playList .listbox {
    width: 95%;
    height: 80%;
    background-size: 50% 100%, 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, center, right;
    transition: 0.5s;
  }
  #playList .listtext {
    width: 90%;
    padding-top: 10px;
    text-align: center;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #playList .listtext span:nth-of-type(2) {
    width: 25px;
    height: 25px;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    cursor: pointer;
  }
  #listbox1 {
    background-image: url(../img/sub/list1_1.jpg), url(../img/sub/content4.jpg), url(../img/sub/list1_2.jpg);
  }
  #listbox2 {
    background-image: url(../img/sub/pd4.jpg), url(../img/sub/list2_2.jpg), url(../img/sub/list2_3.jpg);
  }
  #listbox3 {
    background-image: url(../img/sub/pd2.jpg), url(../img/sub/list3_2.jpg), url(../img/sub/list3_3.jpg);
  }
  #listbox4 {
    background-image: url(../img/sub/pd5.jpg), url(../img/sub/list4-2.jpg), url(../img/sub/list4-3.jpg);
  }
  #listbox5 {
    background-image: url(../img/sub/pd1.jpg), url(../img/sub/list5_2.jpg), url(../img/sub/list5_3.jpg);
  }
  #listbox6 {
    background-image: url(../img/sub/content5.jpg), url(../img/sub/list6_2.jpg), url(../img/sub/list6_3.jpg);
  }
  #play {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #play iframe {
    width: 100vw;
    height: 40vh;
  }
  #play span {
    font-size: 30px;
    position: absolute;
    top: 25vh;
    left: 90vw;
    cursor: pointer;
  }
  #content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  #content > div {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .content_img {
    width: 80vw;
    height: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content1 {
    background-image: url(../img/sub/content1.jpg);
  }
  #content2 {
    background-image: url(../img/sub/content2.jpg);
  }
  #content3 {
    background-image: url(../img/sub/content3.jpg);
  }
  #content4 {
    background-image: url(../img/sub/content4.jpg);
  }
  #content5 {
    background-image: url(../img/sub/content5.jpg);
  }
  #content6 {
    background-image: url(../img/sub/content6.jpg);
  }
  .content_text {
    width: 80vw;
    height: 30%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 2;
  }
  .content_text p {
    font-size: 3vw;
  }
  .content_text h3 {
    font-size: 3.5vw;
  }
  .content_text a {
    width: 22vw;
    font-size: 3vw;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .content_text a::after {
    content: "";
    width: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    left: 100%;
    opacity: 0;
    transition: 500ms;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content_text a:hover::after {
    opacity: 0.8;
  }
  .content_left {
    opacity: 0;
  }
  .content_right {
    opacity: 0;
  }
  #auto {
    margin-top: 50px;
    width: 100%;
    height: 100vw;
    overflow: hidden;
  }
  #auto ul {
    width: 2400px;
  }
  #auto ul li {
    float: left;
    width: 100vw;
    height: 100vw;
    background-image: url(../img/sub/record.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #auto ul li img {
    width: 70%;
    border-radius: 50%;
  }
}
@media screen and (min-width: 751px) and (max-width: 1299px) {
  #mainmenu > li:nth-of-type(4) #subC {
    color: red;
  }
  #tap {
    margin-top: 80px;
    width: 100%;
    background-color: #121212;
  }
  #tap ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  #tap li {
    width: 30%;
    text-align: center;
    padding: 15px 0;
  }
  #tap li a {
    display: inline-block;
    width: 100%;
    color: #fff;
  }
  #tap li:nth-of-type(1) a {
    color: red;
    font-weight: bold;
  }
  #slider {
    width: 100%;
    height: 35vh;
    background-image: url(../img/sub/theme3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #slider > div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #slider h2 {
    font-size: 2.5vw;
    padding: 10px 0px;
  }
  #slider p {
    font-size: 1.5vw;
    padding-bottom: 20px;
  }
  #mv {
    width: 100%;
    height: 1400px;
    margin: 0 auto;
    position: relative;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #mv > div {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
  }
  #mv > p {
    font-size: 18px;
    font-weight: bold;
  }
  .mvbox {
    width: 31%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
  }
  .mvbox > p {
    text-align: center;
    width: 100%;
    padding: 8px 0;
    font-size: 1.5vw;
  }
  .mvbox > div {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .m1 {
    background-image: url(../img/sub/v1.jpg);
  }
  .m2 {
    background-image: url(../img/sub/v2.jpg);
  }
  .m3 {
    background-image: url(../img/sub/v3.jpg);
  }
  .m4 {
    background-image: url(../img/sub/v4.jpg);
  }
  .m5 {
    background-image: url(../img/sub/v5.jpg);
  }
  .m6 {
    background-image: url(../img/sub/v6.jpg);
  }
  .m7 {
    background-image: url(../img/sub/v7.jpg);
  }
  .m8 {
    background-image: url(../img/sub/v8.jpg);
  }
  .m9 {
    background-image: url(../img/sub/v9.jpg);
  }
  .m10 {
    background-image: url(../img/sub/v10.jpg);
  }
  .m11 {
    background-image: url(../img/sub/v11.jpg);
  }
  .m12 {
    background-image: url(../img/sub/v12.jpg);
  }
  #playList {
    width: 100%;
    height: 1400px;
    margin: 0 auto;
    position: relative;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #playList > div {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
  }
  #playList .pb {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #playList .listbox {
    width: 95%;
    height: 80%;
    background-size: 50% 100%, 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, center, right;
    transition: 0.5s;
  }
  #playList .listtext {
    width: 90%;
    padding-top: 15px;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
  }
  #playList .listtext span:nth-of-type(2) {
    width: 22px;
    height: 22px;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
  }
  #listbox1 {
    background-image: url(../img/sub/list1_1.jpg), url(../img/sub/content4.jpg), url(../img/sub/list1_2.jpg);
  }
  #listbox2 {
    background-image: url(../img/sub/pd4.jpg), url(../img/sub/list2_2.jpg), url(../img/sub/list2_3.jpg);
  }
  #listbox3 {
    background-image: url(../img/sub/pd2.jpg), url(../img/sub/list3_2.jpg), url(../img/sub/list3_3.jpg);
  }
  #listbox4 {
    background-image: url(../img/sub/pd5.jpg), url(../img/sub/list4-2.jpg), url(../img/sub/list4-3.jpg);
  }
  #listbox5 {
    background-image: url(../img/sub/pd1.jpg), url(../img/sub/list5_2.jpg), url(../img/sub/list5_3.jpg);
  }
  #listbox6 {
    background-image: url(../img/sub/content5.jpg), url(../img/sub/list6_2.jpg), url(../img/sub/list6_3.jpg);
  }
  #play {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 99;
  }
  #play iframe {
    width: 80vw;
    height: 50vh;
  }
  #play span {
    font-size: 30px;
    position: absolute;
    top: 20vh;
    left: 86vw;
    cursor: pointer;
  }
  #content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  #content > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content_img {
    width: 50%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content1 {
    background-image: url(../img/sub/content1.jpg);
  }
  #content2 {
    background-image: url(../img/sub/content2.jpg);
  }
  #content3 {
    background-image: url(../img/sub/content3.jpg);
  }
  #content4 {
    background-image: url(../img/sub/content4.jpg);
  }
  #content5 {
    background-image: url(../img/sub/content5.jpg);
  }
  #content6 {
    background-image: url(../img/sub/content6.jpg);
  }
  .content_text {
    width: 45%;
    height: 30vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content_right > .content_text {
    padding-left: 4vw;
  }
  .content_text p {
    font-size: 1.5vw;
  }
  .content_text h3 {
    font-size: 2vw;
  }
  .content_text a {
    width: 11.5vw;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .content_text a::after {
    content: "";
    width: 2.4vw;
    height: 2.4vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    opacity: 0;
    transition: 500ms;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content_text a:hover::after {
    opacity: 0.8;
  }
  .content_left {
    opacity: 0;
  }
  .content_right {
    opacity: 0;
  }
  #auto {
    margin-top: 50px;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    position: relative;
  }
  #auto ul li {
    float: left;
    width: 50vw;
    height: 50vw;
    background-image: url(../img/sub/record.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #auto ul li img {
    width: 70%;
    border-radius: 50%;
  }
}
@media screen and (min-width: 1300px) {
  #mainmenu > li:nth-of-type(4) #subC {
    color: red;
  }
  #tap {
    margin-top: 120px;
    width: 100%;
    background-color: #121212;
  }
  #tap ul {
    width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  #tap li {
    width: 20%;
    text-align: center;
    padding: 15px 0;
  }
  #tap li a {
    display: inline-block;
    width: 100%;
    color: #fff;
  }
  #tap li:nth-of-type(1) a {
    color: red;
    font-weight: bold;
  }
  #slider {
    width: 100%;
    height: 50vh;
    background-image: url(../img/sub/theme3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #slider > div {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #slider h2 {
    font-size: 2vw;
    padding: 10px 0px;
  }
  #slider p {
    font-size: 1vw;
    padding-bottom: 20px;
  }
  #content {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    overflow: hidden;
  }
  #mv {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
  #mv > p {
    font-size: 18px;
    font-weight: bold;
  }
  #mv > div {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
  }
  .mvbox {
    width: 30%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .mvbox > p {
    text-align: center;
    width: 100%;
    padding: 8px 0;
    font-size: 0.8vw;
  }
  .mvbox > div {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .m1 {
    background-image: url(../img/sub/v1.jpg);
  }
  .m2 {
    background-image: url(../img/sub/v2.jpg);
  }
  .m3 {
    background-image: url(../img/sub/v3.jpg);
  }
  .m4 {
    background-image: url(../img/sub/v4.jpg);
  }
  .m5 {
    background-image: url(../img/sub/v5.jpg);
  }
  .m6 {
    background-image: url(../img/sub/v6.jpg);
  }
  .m7 {
    background-image: url(../img/sub/v7.jpg);
  }
  .m8 {
    background-image: url(../img/sub/v8.jpg);
  }
  .m9 {
    background-image: url(../img/sub/v9.jpg);
  }
  .m10 {
    background-image: url(../img/sub/v10.jpg);
  }
  .m11 {
    background-image: url(../img/sub/v11.jpg);
  }
  .m12 {
    background-image: url(../img/sub/v12.jpg);
  }
  #playList {
    width: 1300px;
    height: 1400px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    right: -100vw;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
  #playList > div {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
  }
  #playList .pb {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
  }
  #playList .listbox {
    width: 95%;
    height: 80%;
    background-size: 50% 100%, 50% 100%, 50% 100%;
    background-repeat: no-repeat;
    background-position: left, center, right;
    transition: 0.5s;
  }
  #playList .listtext {
    width: 90%;
    padding-top: 15px;
    text-align: center;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
  }
  #playList .listtext span:nth-of-type(2) {
    width: 25px;
    height: 25px;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;
  }
  #listbox1 {
    background-image: url(../img/sub/list1_1.jpg), url(../img/sub/content4.jpg), url(../img/sub/list1_2.jpg);
  }
  #listbox2 {
    background-image: url(../img/sub/pd4.jpg), url(../img/sub/list2_2.jpg), url(../img/sub/list2_3.jpg);
  }
  #listbox3 {
    background-image: url(../img/sub/pd2.jpg), url(../img/sub/list3_2.jpg), url(../img/sub/list3_3.jpg);
  }
  #listbox4 {
    background-image: url(../img/sub/pd5.jpg), url(../img/sub/list4-2.jpg), url(../img/sub/list4-3.jpg);
  }
  #listbox5 {
    background-image: url(../img/sub/pd1.jpg), url(../img/sub/list5_2.jpg), url(../img/sub/list5_3.jpg);
  }
  #listbox6 {
    background-image: url(../img/sub/content5.jpg), url(../img/sub/list6_2.jpg), url(../img/sub/list6_3.jpg);
  }
  #play {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  #play iframe {
    width: 50vw;
    height: 50vh;
  }
  #play span {
    font-size: 30px;
    position: absolute;
    top: 20vh;
    left: 73vw;
    cursor: pointer;
  }
  #content > div {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
  }
  .content_img {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #content1 {
    background-image: url(../img/sub/content1.jpg);
  }
  #content2 {
    background-image: url(../img/sub/content2.jpg);
  }
  #content3 {
    background-image: url(../img/sub/content3.jpg);
  }
  #content4 {
    background-image: url(../img/sub/content4.jpg);
  }
  #content5 {
    background-image: url(../img/sub/content5.jpg);
  }
  #content6 {
    background-image: url(../img/sub/content6.jpg);
  }
  .content_text {
    width: 45%;
    height: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content_text p {
    font-size: 1vw;
  }
  .content_text h3 {
    font-size: 1.5vw;
  }
  .content_text a {
    width: 7.4vw;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .content_text a::after {
    content: "";
    width: 1.4vw;
    height: 1.4vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    left: 100%;
    opacity: 0;
    transition: 500ms;
    background-image: url(../img/sub/go.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .content_text a:hover::after {
    opacity: 0.8;
  }
  .content_left {
    opacity: 0;
  }
  .content_right {
    opacity: 0;
  }
  #auto {
    margin-top: 50px;
    width: 100%;
    height: 25vw;
    overflow: hidden;
  }
  #auto ul {
    width: 2400px;
  }
  #auto ul li {
    float: left;
    width: 25vw;
    height: 25vw;
    background-image: url(../img/sub/record.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #auto ul li img {
    width: 70%;
    border-radius: 50%;
  }
}